<div class="container col-lg-12">
  <div class="col-lg-4">
    <h1>Crear Ingreso de Vehículo</h1>
    <form [formGroup]="createForm" (ngSubmit)="onCreate()">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label font-weight-bold">Comentarios:</label>
        <input type="text" class="form-control p-0" id="recipient-name" formControlName="comments">
        <mat-error *ngIf="createForm.controls.comments.hasError('required')">
          El campo Comentarios es requerido.
        </mat-error>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label font-weight-bold">Identificación del vehículo:</label>
        <select type="text" class="form-control p-0" id="recipient-name" formControlName="vehicle_id">
          <option *ngFor="let vehicle of getVehicles()" value="{{vehicle.id}}">{{vehicle.identification}}</option>
        </select>
        <mat-error *ngIf="createForm.controls.vehicle_id.hasError('required')">
          El campo Identificación del vehiculo es requerido.
        </mat-error>
      </div>
      <button class="btn btn-success" type="submit">Crear</button>
    </form>
  </div>
</div>