<div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-3">TICKETE DE SALIDA</h1>
      <p class="lead">Comentarios: {{getHistorical().comments}}</p>
      <p class="lead">Placa: {{getHistorical().vehicle.identification}}</p>
      <p class="lead">Total de minutos: {{getMinutes()}}</p>
      <p class="lead">Tarifa de: ${{getHistorical().vehicle.vehicle_type.rate.minute_value}} para vehículo tipo {{getHistorical().vehicle.vehicle_type.name}}</p>
      <h4>Valor Total: ${{getHistorical().total_value}}</h4>
      <p><a class="btn btn-lg btn-success" (click)="onGenerate()" role="button">Generar Salida</a></p>
    </div>
</div>