<div class="container col-lg-12">
  <div class="col-lg-4">
    <h1>Crear Tipo de vehículo</h1>
      <form [formGroup]="createForm" (ngSubmit)="onCreate()">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label font-weight-bold">Nombre:</label>
          <input type="text" class="form-control p-0" id="recipient-name" formControlName="name">
          <mat-error *ngIf="createForm.controls.name.hasError('required')">
            El campo Nombre Formulario es requerido.
          </mat-error>
        </div>
        <button class="btn btn-success" type="submit">Crear</button>
      </form>
  </div>
</div>