<div class="row col-lg-12 mt-3">
  <div class="row col-lg-12 mt-3">
    <button class="btn btn-primary" (click)="getHistoricalsBilled()">Facturadas</button>
    <button class="btn btn-primary" (click)="getHistoricalsParking()">Sin Salida</button>
  </div>
  <div class="table-responsive text-black">
    <table class="table table-striped small display" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="color-link">Comentarios</th>
          <th class="color-link">Identificación</th>
          <th class="color-link">Hora de ingreso</th>
          <th class="color-link">Hora de salida</th>
          <th class="color-link">Valor total</th>
          <th class="color-link">Tarifa por minuto</th>
          <th class="color-link">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let historical of getHistoricals()">
          <td>{{historical.comments}}</td>
          <td>{{historical.vehicle.identification}}</td>
          <td>{{historical.start_time}}</td>
          <td>{{historical.end_time}}</td>
          <td>{{historical.total_value}}</td>
          <td>{{historical.vehicle.vehicle_type.rate.minute_value}}</td>
          <td>
            <button class="btn btn-success" (click)="onGoToGenerateTicket(historical.id)" *ngIf="validateIfIsInParking(historical)">Generar Ticket de salida</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>