<div class="row col-lg-12 mt-3">
  <div class="table-responsive text-black">
    <table class="table table-striped small display" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="color-link">Nombre</th>
          <th class="color-link">Tarifa por minuto</th>
          <th class="color-link">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle_type of getVehicleTypes()">
          <td>{{vehicle_type.name}}</td>
          <td>{{vehicle_type.rate.minute_value}}</td>
          <td>
            <button class="btn btn-warning" (click)="onGoToDeleteTypes(vehicle_type.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>