<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <button class="btn btn-success" (click)="onGoToCreateVehicleType()">1. Crear Tipo de vehículo</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" (click)="onGoToCreateVehicle()">2. Crear vehículo</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" (click)="onGoToCreateRate()">3. Crear Tarifa</button>
      </li>
      <li class="nav-item">
          <button class="btn btn-success" (click)="onGoToCreateHistorical()">4. Ingreso</button>
        </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="onGoToHistoricals()">Historicos</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="onGoToVehicles()">Tipos de Vehiculos</button>
      </li>
    </ul>
  </nav>
  <img src="../../../../../assets/images/Logo.png" alt="">
</header>