<div class="container col-lg-12">
  <h1>En verdad desea eliminar el tipo de vehículo</h1>
  <div class="row col-lg-12">
    <button class="btn btn-success" (click)="onDelete()">Si</button>
    <button class="btn btn-warning" (click)="onCancel()">No</button>
  </div>
</div>
