<div class="row col-lg-12 mt-3">
    <div class="table-responsive text-black">
      <table class="table table-striped small display" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="color-link">Identificación</th>
            <th class="color-link">Tipo de vehículo</th>
            <th class="color-link">Tarífa por minuto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of getVehicles()">
            <td>{{vehicle.identification}}</td>
            <td>{{vehicle.vehicle_type.name}}</td>
            <td>${{vehicle.vehicle_type.rate.minute_value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
