<div class="container col-lg-12">
    <div class="col-lg-4">
      <h1>Crear Tarifa</h1>
      <form [formGroup]="createForm" (ngSubmit)="onCreate()">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label font-weight-bold">Valor por minuto:</label>
          <input type="text" class="form-control p-0" id="recipient-name" formControlName="minute_value">
          <mat-error *ngIf="createForm.controls.minute_value.hasError('required')">
            El campo Valor por minuto es requerido.
          </mat-error>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label font-weight-bold">Tipo de vehículo:</label>
            <select type="text" class="form-control p-0" id="recipient-name" formControlName="vehicle_type_id">
              <option *ngFor="let vehicle_type of getVehicleTypes()" value="{{vehicle_type.id}}">{{vehicle_type.name}}</option>
            </select>
            <mat-error *ngIf="createForm.controls.vehicle_type_id.hasError('required')">
              El campo Tipo de vehículo es requerido.
            </mat-error>
          </div>
        <button class="btn btn-success" type="submit">Crear</button>
      </form>
    </div>
  </div>
